$authContentBackgroundColor: var(--authContentBackgroundColor);
$muiDataGridBackground: var(--muiDataGridBackground);
$paperBackgroundColor: var(--paperBackgroundColor);
$simulacrumSecondary: var(--simulacrumSecondary);
$mainBackgroundColor: var(--mainBackgroundColor);
$rootBackgroundColor: var(--rootBackgroundColor);
$simulacrumPrimary: var(--simulacrumPrimary);
$placeholderColor: var(--placeholderColor);
$muiDefaultBlue: var(--muiDefaultBlue);
$successGreen: var(--successGreen);
$inputBorder: var(--inputBorder);
$titleColor: var(--titleColor);
$invalidRed: var(--invalidRed);
$lightGray: var(--lightGray);
$cardGray: var(--cardGray);
$warning: var(--warning);
$yellow: var(--yellow);
$white: var(--white);
$black: var(--black);
