@import '/src/globalStyles/colors.scss';

.input_label {
  background-color: $simulacrumPrimary;
  color: $white;
  padding: 2px;
  font-family: sans-serif;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  padding: 4px;
}

.input_file_wrapper {
  border: 1px solid $simulacrumPrimary;
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    border: 1px solid $simulacrumPrimary;
  }
}
.input_file {
  font-family: 'Poppins';
}

.file_name {
  width: 342px;
  overflow: hidden;
  margin-left: 6px;
  text-overflow: ellipsis;
  color: $black;
}
